@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --main-bg-color: #121212;
    --border-color: #202125;
    --main-color: #fac54a;
    --main-text-color: #edf0f1;
}

/*---------------------------------Scrollbar-------------------------------------*/

::-webkit-scrollbar{
    width: 7.5px;
    /*taking away the scrollbar temporarly*/
    display: none;
}
/*
::-webkit-scrollbar-track {
    background: var(--main-bg-color);
}

::-webkit-scrollbar-thumb {
    background: rgb(196, 196, 196);
    border-radius: 50px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: gray;
    transition: all 0.3s ease 0s;
}
*/
::selection {
    color: var(--border-color);
    background: var(--main-color); 
}

/*---------------------------------Scrollbar-end---------------------------------*/

li, a, p {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 1em;
    color: var(--main-text-color);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10%;
    position: sticky;
    top: 0;
    background-color: var(--main-bg-color);
    border-bottom: solid;
    border-color: var(--border-color);
    border-width: 1px;
}

.menu{
    display: none;
}

.LogoSVG{
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-right: auto;
    user-select: none;
}

.module {
    fill: white;
}

.LogoSVG:hover .module{
    fill: var(--main-color);
    transition: all 0.3s ease 0s;
}

.navigationbar-list li {
    display: inline-block;
    padding: 0px 20px;
}

.navigationbar-list li a {
    transition: all 0.3s ease 0s;
}

.navigationbar-list li a:hover {
    color: var(--main-color);
}

button {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 16px;
    color: var(--border-color);
    text-decoration: none;

    margin-left: 20px;
    padding: 9px 25px;
    background-color: var(--main-color);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    box-shadow: inset 0 0 0 0 white;
}

button:hover {
    box-shadow: inset 0 0 25px 25px white;
}

body{
    background-color: var(--main-bg-color);
}

.text{
    padding: 1em 10% 0;
}

.nano_address{
    word-break: break-all;
    color: var(--main-color);
}

.copyright_container{
    margin-top: 1em;
    padding: 1em 10%;
    display: flex;
    justify-content: center;
    border-top: solid;
    border-color: var(--border-color);
    border-width: 1px;
}
.copyright_container p{
    display: block;
    font-size: 0.9em;
}

@media only screen and (max-width: 600px){
    ::-webkit-scrollbar {
        display: none;
    }

    header{
        padding: 5px 3%;
    }
    .linemenu{
        width: 40px;
        height: 40px;
        display: flex;
        margin-right: 85%;
        border-radius: 50%;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        z-index: 2;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        user-select: none;
    }
    /*
    .linemenu:hover{
        background-color: var(--border-color);
        cursor: pointer;
    }
    */
    .linemenu:hover #line{
        background-color: var(--main-color);
        transition: all 0.3s ease 0s;
    }
    .linemenu.active{
        transform: rotate(90deg);
    }
    .linecontent{
        margin: auto;
    }
    #line{
        width: 18px;
        height: 2.5px;
        background-color: var(--main-text-color);
        margin: 2.5px;
        border-radius: 1px;
    }
    .linemenu.active #line{
        height: 5px;
        width: 5px;
        border-radius: 50%;
    }

    .LogoSVG{
        margin: auto;
        z-index: 2;
    }
    .navigationbar-list{
        display: none;
    }
    .button_faq{
        display: none;
    }
    .menu{
        margin: 0;
        padding: 0;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 0;
        background: #000000;
        z-index: 1;
        transition: ease-in 0.5s;
        display: flex;
        justify-content: center;
        overflow: auto;
    }
    .menu.active{
        height: 100%;
        left: 0;
        top: 0;
        overflow: auto;
    }
    .menu_elements{
        display: block;
        overflow: hidden;
        list-style: none;
        width: 100%;
        text-align: 10%;
        padding-top: 15%;
        transition: all ease-in-out 1.2s;
    }
    .menu_elements li a{
        font-size: 1.1em;
        color: var(--main-text-color);
        display: block;
        border-bottom: solid;
        border-width: 1%;
        border-color: var(--main-bg-color);
        padding: 0.7em 0 0.7em 10%;
        transition: all 0.3s ease 0s;
    }
    .menu_elements li a:hover{
        color: var(--main-color);
        background-color: var(--main-bg-color);
    }

}